.map-container {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

.map-container iframe {
  left: 0;
  top: 0;
  height: 500%;
  width: 500%;
  position: absolute;
}

.p-5 {
  background-color: #40B5AD;
}

.p-4 {
  background-color: #008080;
}

.p-2 {
  background-color: #FFFDD0;
}
